/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
  width: 100%;
}

body {
  background-color: #fff;
  color: #fff;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 1rem;
  min-width: 350px;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
}
a:focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.btn {
  width: 190px;
  height: 50px;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #000;
  background-color: transparent;
  border: 1px solid #2C4058;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn::before {
  content: "";
  display: block;
  width: 190px;
  height: 50px;
  position: absolute;
  top: 49px;
  left: -1px;
  background-color: #2C4058;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:hover::before {
  top: -50px;
}
.btn:hover {
  font-size: 1.125rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 160px;
  min-width: 140px;
  width: 100%;
}
.social li {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.404);
  border-radius: 50%;
  line-height: 41px;
  text-align: center;
  overflow: hidden;
}
.social li svg {
  fill: #fff;
}
.social li a:hover {
  background-color: #685cde;
}
.social li a:hover svg {
  fill: #fff;
}

.title_with_line {
  color: #2C4058;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.75rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.title_with_line::before {
  content: "";
  background-color: #2C4058;
  width: 100px;
  height: 1px;
  position: absolute;
  top: -31px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.lSAction > .lSPrev,
.lSAction > .lSNext {
  display: none;
}

.fixed_nav .header {
  background: -o-linear-gradient(206.57deg, #7e5affd0 16.9%, #55b8ffc0 83.27%);
  background: linear-gradient(243.43deg, #7e5affd0 16.9%, #55b8ffc0 83.27%);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  height: 60px;
  -webkit-box-shadow: 0px 0.5px 10px #2e193b8f;
  box-shadow: 0px 0.5px 10px #2e193b8f;
}
.fixed_nav .top {
  margin-top: 60px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#hamburger_menu {
  display: none;
}

.hamburger {
  padding: 0;
}
.hamburger .hamburger-box .hamburger-inner {
  top: 2px;
  background-color: #fff;
}
.hamburger .hamburger-box .hamburger-inner::before, .hamburger .hamburger-box .hamburger-inner::after {
  background-color: #fff;
  top: 10px;
}
.hamburger .hamburger-box .hamburger-inner::after {
  top: 20px;
}

#page_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

#mobile_menu_wrap {
  position: fixed;
  top: 0;
  left: -500px;
  background: -o-linear-gradient(198.94deg, #55b8ffd8 -2.19%, #7e5affd7 103.21%);
  background: linear-gradient(251.06deg, #55b8ffd8 -2.19%, #7e5affd7 103.21%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: 0 0 5px #684d9b54;
  box-shadow: 0 0 5px #684d9b54;
  max-width: 350px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1000;
}
#mobile_menu_wrap.top {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}

.sidemenu_top {
  height: 60px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.sidemenu_top .mobile_logo img {
  width: 180px;
}
.sidemenu_top .hamburger-box {
  height: px;
}

.sidemenu li {
  position: relative;
}
.sidemenu li a:not(.social > li > a) {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.sidemenu li a:not(.social > li > a):active {
  color: #ff6363;
}

.open #page_overlay {
  display: block;
}
.open #mobile_menu_wrap {
  left: 0px;
}

#main_menu {
  max-width: 505px;
  min-width: 330px;
  width: 100%;
  margin-right: 3.5%;
}
#main_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#main_menu ul a {
  font-size: 0.875rem;
  text-transform: uppercase;
  position: relative;
}
#main_menu ul a::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 50%;
  left: -19px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid #FFF;
}
#main_menu ul a:hover::before {
  background-color: #fff;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 107px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.header .nav_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .logo {
  margin-right: 8.5%;
}
.header .logo img {
  width: auto;
}

.top {
  height: 800px;
  position: relative;
  -webkit-box-shadow: 0px 0.5px 10px #2e193b8f;
  box-shadow: 0px 0.5px 10px #2e193b8f;
}
.top .arrow {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.top .arrow::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(225deg);
  -ms-transform: translate(-50%, -50%) rotate(225deg);
  transform: translate(-50%, -50%) rotateZ(225deg);
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}
.top .gradient {
  background: -o-linear-gradient(206.57deg, #7e5affdc 16.9%, #55b8ffd0 83.27%);
  background: linear-gradient(243.43deg, #7e5affdc 16.9%, #55b8ffd0 83.27%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.top li {
  position: relative;
}
.top li .item {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.top .title {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50.2%;
  z-index: 15;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.top .title .text {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
.top .title .subtext {
  font-size: 1.125rem;
  letter-spacing: 0.3em;
}
.top .lSSlideOuter {
  position: relative;
}
.top .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  top: 48%;
  right: -80px;
  -webkit-transform: rotateZ(90deg) translateY(-50%) !important;
  -ms-transform: rotate(90deg) translateY(-50%) !important;
  transform: rotateZ(90deg) translateY(-50%) !important;
}
.top .lSSlideOuter .lSPager.lSpg li {
  margin-bottom: 0px;
  padding: 0 20px;
}
.top .lSSlideOuter .lSPager.lSpg li a {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
.top .lSSlideOuter .lSPager.lSpg .active a {
  background-color: #fff;
}

.projects {
  color: #000;
  padding: 130px 0 140px;
}
.projects .title_with_line {
  margin-bottom: 146px;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0 197px;
}
.projects .project .image {
  max-width: 630px;
  -webkit-box-shadow: -260px -57px 0px #55b7ff;
  box-shadow: -260px -57px 0px #55b7ff;
}
.projects .project .info {
  max-width: 470px;
  padding-top: 5.9%;
}
.projects .project .overhead {
  text-transform: uppercase;
  font-size: 1.375rem;
  margin-bottom: 4px;
}
.projects .project .title {
  color: #2C4058;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 44px;
  margin-bottom: 24px;
}
.projects .project .text {
  font-family: "Open Sans";
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 32px;
}
.projects .project .btn {
  margin-bottom: 60px;
}
.projects .project .address_wrap {
  font-family: "Open Sans";
  font-style: italic;
  font-size: 0.9375rem;
}
.projects .project svg {
  margin-right: 6px;
  width: 9px;
  height: 14px;
}
.projects .project_2 {
  margin-bottom: 0;
}
.projects .project_2 .info {
  max-width: 480px;
}
.projects .project_2 .image {
  -webkit-box-shadow: 260px -57px 0px #7E5AFF;
  box-shadow: 260px -57px 0px #7E5AFF;
}

.news {
  background: url(../images/bg_news-min.png), -o-linear-gradient(212.9deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  background: url(../images/bg_news-min.png), linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  padding: 165px 0 138px;
}
.news .title_with_line {
  margin-bottom: 89px;
}
.news .slider_wrap {
  position: relative;
  margin: 0 auto;
}
.news .slider_wrap .prev,
.news .slider_wrap .next {
  position: absolute;
  top: 45%;
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
.news .slider_wrap .prev::before,
.news .slider_wrap .next::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}
.news .slider_wrap .prev {
  left: -8%;
}
.news .slider_wrap .prev::before {
  left: 43%;
  -webkit-transform: translateY(-50%) rotateZ(315deg);
  -ms-transform: translateY(-50%) rotate(315deg);
  transform: translateY(-50%) rotateZ(315deg);
}
.news .slider_wrap .next {
  right: -8%;
}
.news .slider_wrap .next::before {
  right: 43%;
  -webkit-transform: translateY(-50%) rotateZ(130deg);
  -ms-transform: translateY(-50%) rotate(130deg);
  transform: translateY(-50%) rotateZ(130deg);
}
.news .title_with_line {
  color: #fff;
}
.news .title_with_line::before {
  background-color: #fff;
}
.news .item {
  height: 514px;
  background-color: #fff;
  color: #2C4058;
  margin: 0 auto;
}
.news .item_image {
  width: 100%;
}
.news .item:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.news .item_content {
  padding: 30px 20px 30px;
}
.news .item_content .title {
  height: 50px;
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 27px;
  margin-bottom: 15px;
}
.news .item_content .text {
  height: 50px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Open Sans";
  line-height: 25px;
  font-size: 1.125rem;
  margin-bottom: 39px;
}
.news .item_content .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.news .item_content .author_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.news .item_content .author_wrap {
  padding-top: 7px;
}
.news .item_content .author_name {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: 4%;
}
.news .item_content .author_date {
  color: #55B7FF;
  font-size: 0.875rem;
}
.news .lSSlideOuter {
  position: relative;
}
.news .lSSlideOuter .lSPager.lSpg {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}
.news .lSSlideOuter .lSPager.lSpg li {
  margin-bottom: 51px;
  padding: 0 20px;
}
.news .lSSlideOuter .lSPager.lSpg li a {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}
.news .lSSlideOuter .lSPager.lSpg .active a {
  background-color: #fff;
}

.gallery {
  padding: 170px 0 139px;
  text-align: center;
}
.gallery .title_with_line {
  margin-bottom: 7.6%;
}
.gallery #light_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: 60px;
}
.gallery #light_gallery a {
  display: block;
}
.gallery #light_gallery a:hover {
  opacity: 0.9;
}
.gallery #light_gallery a:first-child {
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
}
.gallery #light_gallery a:first-child::before, .gallery #light_gallery a:first-child::after {
  content: "";
  display: none;
  width: 80px;
  height: 15px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  border-radius: 5px;
}
.gallery #light_gallery a:first-child::before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gallery #light_gallery a:first-child::after {
  -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.gallery #light_gallery a:first-child:hover::before, .gallery #light_gallery a:first-child:hover::after {
  display: block;
}

#map {
  max-width: 1600px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  z-index: 10;
}
#map a {
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}
#map a img {
  height: 100%;
  width: auto;
}
#map p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background-color: #000;
  text-align: none;
  font-size: 40px;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#map a:hover p {
  opacity: 0.5;
}

.footer {
  height: 550px;
  background: url(../images/bg_footer-min.png), -o-linear-gradient(198.94deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background: url(../images/bg_footer-min.png), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
  background-position: bottom;
  background-size: cover;
  position: relative;
}
.footer #contact {
  background: url(../images/bg_form-min.png) center bottom no-repeat;
  background-color: #fff;
  color: #000;
  position: absolute;
  left: 50%;
  top: -300px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 770px;
  width: 100%;
  height: 450px;
  padding: 90px 60px 30px;
  z-index: 15;
}
.footer #contact .contact_info svg {
  fill: #7E5AFF;
  width: 15px;
  height: 15px;
}
.footer #contact .title_with_line {
  margin-bottom: 37px;
}
.footer #contact .contact_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 201px;
}
.footer #contact .contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0 4px;
}
.footer #contact .contact_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.footer #contact form {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer #contact input {
  height: 46px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 28px;
  font-size: 1.125rem;
}
.footer #contact input::-webkit-input-placeholder {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.514);
  vertical-align: top;
}
.footer #contact input::-moz-placeholder {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.514);
  vertical-align: top;
}
.footer #contact input:-ms-input-placeholder {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.514);
  vertical-align: top;
}
.footer #contact input::-ms-input-placeholder {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.514);
  vertical-align: top;
}
.footer #contact input::placeholder {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.514);
  vertical-align: top;
}
.footer #contact input:last-of-type {
  margin-bottom: 30px;
}
.footer #contact input:focus {
  border-bottom: 2px solid #000;
  outline: none;
}
.footer #contact .btn {
  width: 140px;
  margin-left: auto;
  font-size: 1.125rem;
}
.footer .logo {
  width: 241px;
}
.footer .container_footer {
  max-width: 770px;
  width: 90%;
  margin: 0 auto;
}
.footer_wrap {
  padding-top: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
.footer .copyrights {
  font-size: 0.875rem;
}